@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat), "sans-serif";
}

aside:has(#menu-btn:checked) p {
  display: none;
}

.clip-triangle {
  clip-path: polygon(0% 100%, 100% 100%, 50% 13.4%);
}
